@font-face{
	font-family: "Raleway";
    src: url("./fonts/static/Raleway-Medium.ttf") format("truetype");
}

body
{
    font-family: Raleway;
    width: 1180px;
    margin: 0 auto;
}

#logo
{
    width: 10%;
}

nav
{
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

nav li 
{
    display: flex;
    justify-content: space-around;
    width: 30%;
    border-top: 2px dodgerblue;
    font-size: small;

}

nav li a 
{
    color: #0065FC;
    text-decoration: none;

}

.liens
{
    text-align: right;
    list-style: none;
}

.hebergements
{
    width: 10%;

}

div section h3
{
    display: flex;
    width: 242px;
    padding-right: 120px;
    padding-left: 44px;
    justify-content: flex-end;

}

.populaires
{
    display: flex;
    width: 40%;
    background-color: #F2F2F2;
    padding-bottom: 20px;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 100px;
}

.activites
{
    width: 15%;
    margin-bottom: 10px;

}

footer
{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: #F2F2F2;
    color: black;
    height: 170px;
}

footer ul a 
{
    color: black;
    text-decoration: none;
    font-size: 10px;
}
footer ul
{
    padding-right: 20px;
    padding-top: 0px;
    font-size: small;
}
footer ul li
{
    color: black;
    list-style: none;
    padding-bottom: 11px;

}

.gris
{
    color: #000 !important;
}

.gras
{
    font-weight: bold;
}

.bleu
{
    border-top: 3.1px solid dodgerblue ;
    justify-content: flex-end;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    margin-top: -20px;
    padding-top: 19px;
}

div .fond_gris
{
    background-color: #F2F2F2;
    border-radius: 12px;
    border-radius: 25px;
}

div .fondgris
{
    background-color: #F2F2F2;
    border-radius: 25px;
    margin-right: 219px;
    padding: 25px;
    padding-top: 25px;
    padding-top: 0;
    margin-bottom: 96px;
    padding-left: 0px;

}

.hebergements
{
    width: 25%;
    margin-left: 45px;
    margin-bottom: 26px;
    margin-left: 40px;
}

h1
{
    display: flex;
    font-size: 20px;
}

h2
{
    display: flex;
    font-size: 14px;
    font-weight: normal;
}

section h3
{
    margin-top: 13px;
    margin-left: -45px;
    font-size: 16px;
}

.afficher
{
    display: flex;
    color: black;
    text-decoration: none;
    padding-left: 44px;
}

header h4
{
    font-size: 14px;
}

button 
{
    display: flex;
    color: white;
    background-color: #0065FC;
    height: 35px;
    width: 90px;
    justify-content: space-around;
    padding-top: 8px;
    font-family: Raleway;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border: 1px;
}

input
{
    display: flex;
    border: 1px #f2f2f2f2 solid;
    width: 186px;
}

div .localisation
{
    display: flex;
    background-color: #f2f2f2f2;
    width: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
}

.fa, .fab, .fad, .fal, .far, .fas
{
    color: black;
}

header .info
{
    display: flex;
    width: 17px;
    height: 20px;
    width: 20px;
    padding-top: 10px;
    padding-right: 10px;
}








