@font-face{
	font-family: "Raleway";
    src: url("./fonts/static/Raleway-Medium.ttf") format("ttf");
}

body
{
    font-family: Raleway;
    width: 1180px;
    margin: 0 auto;
}

#logo
{
    width: 10%;
}

nav
{
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

nav li 
{
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;

}

nav li a 
{
    color: #0065FC; 
    text-decoration: none;
}

.liens
{
    text-align: right;
}

.hebergements
{
    width: 10%;
}

.populaires
{
    width: 10%;
}

.activites
{
    width: 15%;
}




